.quiz-top {
  height: 660px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.quiz-top .subtitle {
  margin-bottom: 0;
}

.quiz-top .page-title {
  margin-bottom: 25px;
}

.quiz-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.quiz-start {
  display: block;
}

.quiz-start .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.quiz-start .item:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-color: #FE7300;
}

.quiz-start .item .right {
  width: calc(100% - 30px - 20px);
}

.quiz-start .item .right b {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  display: block;
  line-height: 1.2;
}

.quiz-start .item .right p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  line-height: 1.2;
}

.quiz-start .item .left {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz-start .item .left img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}